AddHandler fcgid-script .fcgi
RewriteEngine on
RewriteBase /

# Exclude any paths that should be served literally:
RewriteRule 	^static/		-			[L,NC]
# Add a default page
RewriteRule 	^$			student			[NC]

RewriteCond %{REQUEST_FILENAME} !(cgi-bin/bluemoon.fcgi) 
RewriteRule 	^(.*)$ 			cgi-bin/bluemoon.fcgi/$1	[QSA,L]
